In [1]:
#count no.of digits in the given string
#input:"python123is456good789"
s = "python123is456good789"
print(len(s))

21

In [ ]:
s = input()
i = 0
count = 0
while i<len(s):
    if s[i].isdigit():
        count += 1
        sum += int(s[i])
    i += 1
print("count is",count,"sum of digits is:",sum)

python123is456good789

In [4]:
#for loop 
#1.using range()
#2.usimg iterable object
n = int(input("enter a number"))
i = 0
for i in range(0,n+1,2):
    print(i,end=" ")

enter a number10
0 2 4 6 8 10

In [1]:
s = input()
i = 0
while i<len(s):
    print(s[i],end=" ")
    i+=1

python
p y t h o n

In [3]:
s = input()
i = 0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")
print()
for i in s:
    print(i,end=" ")

python
p y t h o n
p y t h o n
p y t h o n
p y t h o n

# collection data type:
#list
 1.for creating a list use 
 2.list are mutable
 3.list are indexed
 4.list are ordered
 5.list allows duplicate values
 6.it stores heterogenous values

In [21]:
list1 = [23,34,456,56.67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:5])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56.67, 'string']
gnirts
3

In [24]:
#manipulating a list
#adding elements
list1 = [34,45,56,67]

print("before adding elements:",list1)
list1.append('as')
list1.append('io')
list1.append('po')
print("aftering adding elements:",list1)

before adding elements: [34, 45, 56, 67]
aftering adding elements: [34, 45, 56, 67, 'as', 'io', 'po']

In [7]:
lists = [12,23,45,67]
print("before adding elements",lists)
lists.append(100)
lists.append(200)
lists.append(300)
print("aftering adding elements",lists)

before adding elements [12, 23, 45, 67]
aftering adding elements [12, 23, 45, 67, 100, 200, 300]

In [50]:
#manipulating a list
#adding elements
list = [34,45,56,67]

print("before adding elements:",list)
list.append(100)
list.append(200)
list.append(300)
print("aftering adding elements:",list)

before adding elements: [34, 45, 56, 67]
aftering adding elements: [34, 45, 56, 67, 100, 200, 300]

In [27]:
list1.insert(1,40000)
list1

[34, 40000, 100, 45, 56, 67, 100, 200, 300]

In [36]:
list1.extend([1,2,3])
list1

[34, 45, 56, 67, 100, 200, 300, 1, 2, 3]

In [38]:
#removing elements from the list
list1.pop(5)
print(list1)

[34, 56, 67, 100, 200, 1, 2, 3]

In [39]:
print(list1)

[34, 56, 67, 100, 200, 1, 2, 3]

In [40]:
list1.remove(4)
print(list1)

ValueError: list.remove(x): x not in list

In [41]:
list1.clear()
print(list1)

[]

In [42]:
print(list1)

[]

In [44]:
#replacing an element
list1[5] = 1000
list1

IndexError: list assignment index out of range

In [53]:
#sorting a list
list = [34,56,7,68,79,2,45,67]
list.sort() #accending order
list

[2, 7, 34, 45, 56, 67, 68, 79]

In [54]:
list = [34,56,7,68,79,2,45,67]
list.sort(reverse = True)
list

[79, 68, 67, 56, 45, 34, 7, 2]

In [57]:
list1 = [453,4324,46,57,68]
list1.reverse()
list1

[68, 57, 46, 4324, 453]

In [58]:
list1.index(4324)

3

In [59]:
list1.count(46)

1

In [60]:
list1

[68, 57, 46, 4324, 453]

In [61]:
list = list1

In [62]:
list2 = list1
print(list1," ",list2)

[68, 57, 46, 4324, 453]   [68, 57, 46, 4324, 453]

In [63]:
list3 = list1.copy()
list3

[68, 57, 46, 4324, 453]

In [64]:
#input : [2,4,5,7,8]
#output : [2,16,25,49,64]
l1 = [2,4,5,7,8]
l2 = []
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)

[4, 16, 25, 49, 64]

In [14]:
a = [12,23,34,45]
b = []
if i in range(0,len(a)):
    b.append(a[i]**2)
print(b)

[]

In [68]:
#input : [2,4,5,7,8]
#output : [2,16,25,49,64]
l1 = [2,4,5,7,8]
l2 = []
l3 = []
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)
for i in l1:
    l3.append(i**3)
print(l3)

[4, 16, 25, 49, 64]
[8, 64, 125, 343, 512]

In [71]:
l1 = [1,2,3,4,5,6]
brij = []
for i in range(0,len(l1)):
    if l1[i]%2==0:
        brij.append(l1[i])
print(brij)

[2, 4, 6]

In [76]:
#create a list and accept values of the list at runtime
#and print sum of all the elements of list
l1 = []
n = int(input())
for i in range(n):
    l1.append(int(input()))
print(sum(l1))

5
4
3
6
8
9
30

##Tuple:

In [78]:
x = 56,76,86,96,46
print(x)
print(type(x))

[56, 76, 86, 96, 46]
<class 'list'>

In [79]:
tup1 = (56,76,86)
x,y,z = tup1
print(x,y,z)

56 76 86

# Dictionary:
### syntax:{key:value1,key:value2,.......................}
### key:
1.key should be unique
2.key should be immutable--> int,float,string,tuple

In [81]:
dict1 = {"name":"preeti","course":"pytjon","address":"hyd"}
dict1

{'name': 'preeti', 'course': 'pytjon', 'address': 'hyd'}

In [82]:
dict1 = {"name":"preeti","course":"pytjon","address":"hyd"}
dict1["course"]

'pytjon'

In [83]:
#replacing values
dict1["course"] = "C programming"
print(dict1)

{'name': 'preeti', 'course': 'C programming', 'address': 'hyd'}

In [87]:
#adding entry
dict1["vamshi"] = "mansion"
print(dict1)

{'name': 'preeti', 'course': 'C programming', 'address': 'hyd', 'neha': 'C programming', 'gowtham': 'C programming', 'vamshi': 'mansion'}

In [90]:
#removing entry
del dict1["vamshi"]
print(dict1)

{'name': 'preeti', 'course': 'C programming', 'neha': 'C programming', 'gowtham': 'C programming'}

## Function:
### def name_of_the_function(arg list):
#### statement
### return

In [96]:
def add(x,y):#function definition
    print(x+y)
print(add(10,20))#function calling
print(add(100,200))

30
None
300
None

In [97]:
def square(x):
    return x^x
def cube(x):
    return square(x)^x

print(cube(3))

3